html
  head
    meta(name='description', content='Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h2.center#welcome Welcom, #{user.username}!
    .profile.center
        img(src=user.photo style='width:450px; border-radius:25%')
        h3=user.username
        a(href='/logout') Logout
        br
        a(href='/chat' class='startChatting') start chatting
